tools/telegram_bridge.json
[
    {
        "id": "22ad87037f9861ca",
        "type": "tab",
        "label": "TelegramBridge",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c66f96abbeb7356e",
        "type": "telegram receiver",
        "z": "22ad87037f9861ca",
        "name": "Bot",
        "bot": "edd064db6c2056f3",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "7eea28ce28903253"
            ],
            []
        ]
    },
    {
        "id": "7eea28ce28903253",
        "type": "function",
        "z": "22ad87037f9861ca",
        "name": "from bot to Snap!",
        "func": "global.set('chatId', msg.payload.chatId);\nnode.warn(msg.payload);\nmsg.payload = `{\"from\":\"${msg.originalMessage.from.first_name}\",\"msg\":\"${msg.payload.content}\"}`;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            [
                "12ed557f2e17bada"
            ]
        ]
    },
    {
        "id": "12ed557f2e17bada",
        "type": "mqtt out",
        "z": "22ad87037f9861ca",
        "name": "Snap!",
        "topic": "botname/from",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "853aed2585ca6759",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "c9e3072dcdac9bda",
        "type": "mqtt in",
        "z": "22ad87037f9861ca",
        "name": "Snap!",
        "topic": "botname/to",
        "qos": "2",
        "datatype": "auto",
        "broker": "853aed2585ca6759",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "b4a553798c05b8b3"
            ]
        ]
    },
    {
        "id": "0e58d141025aad96",
        "type": "telegram sender",
        "z": "22ad87037f9861ca",
        "name": "Bot",
        "bot": "edd064db6c2056f3",
        "haserroroutput": false,
        "outputs": 1,
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b4a553798c05b8b3",
        "type": "function",
        "z": "22ad87037f9861ca",
        "name": "from Snap! to bot",
        "func": "let mess = msg.payload;\nmsg.payload = {};\nmsg.payload.type = \"message\";\nmsg.payload.content = mess;\nlet chatId = global.get('chatId');\nif (chatId) msg.payload.chatId = chatId;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "0e58d141025aad96"
            ]
        ]
    },
    {
        "id": "031b839b69a4fa71",
        "type": "comment",
        "z": "22ad87037f9861ca",
        "name": "Adjust topic fields in the Snap! nodes",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "edd064db6c2056f3",
        "type": "telegram bot",
        "botname": "Ind40",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "853aed2585ca6759",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
